.title{
    margin-top: 4%;
}

.col-btn-new{
    margin-top: 2%;    
    margin-bottom: 4%;
}

.btn-new{
    color: white;
}

.btn-edit, 
.btn-remove
{
    margin: 3% 2% 0 2%;
}

.btn-ver{
    margin: 3% 2% 0 2%;
}

th {
    text-align: center;
}

.table-text-column{
    vertical-align: middle;
}