<div class="container">
    <div class="row title">
        <h1>Cursos</h1>
    </div>
    <hr>

    <div *ngIf="existeErros()">
        <button class="btn btn btn-danger d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Mostrar erros</button>
        <div class="alert alert-danger d-none d-lg-block">{{tituloErro}}</div>            
        <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Erros</h5>
            <button type="button" class="btn btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="alert alert-danger" role="alert">
                <ul>
                    <li *ngFor="let error of errorMessages">{{error}}</li>
                </ul>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2 col-btn-new">
            <a [routerLink]="['/cursos/novo']" href="#" alt="novo" class="btn btn-x btn bg-success btn-new">
                <i class="fa fa-plus" aria-hidden="true"></i> Novo
            </a>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover">            
        <thead>                
            <tr>
                <th class="col">Nome do Curso</th>
                <th class="col">Link</th>
                <th class="col-3">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursos">
                <td class="table-text-column">{{curso.nome}}</td>
                <td class="table-text-column">{{curso.link}}</td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-xs btn-info btn-ver" (click)="abrirModal(curso)">
                        <i class="fa fa-eye" aria-hidden="true"></i> Ver
                    </button>

                    <a href="#" alt="Editar" class="btn btn-xs btn-info btn-edit"
                        [routerLink]="['/cursos/editar', curso.id]">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </a>
                    <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger btn-remove"
                        (click)="remover($event, curso)">
                        <i class="fa fa-times" aria-hidden="true"></i> Remover
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>