<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aluno</h4>
    <button type="button" class="btn-close" aria-label="Close"
    (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
    <p>Id: {{aluno.id}}</p>
    <p>Nome: {{aluno.nome}}</p>
    <p>CPF: {{aluno.cpf! | mask:'000.000.000-00'}}</p>
    <p>E-mail: {{aluno.email}}</p>
    <p>Data de Nascimento: {{aluno.dtNascimento}}</p>    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
    (click)="activeModal.close()">Fechar</button>
</div>