.header{
    margin-top: 4%;
    margin-bottom: 2%;
}
.row-form-input1{
    margin-top: 5%;
}
.row-form-input2{
    margin-top: 2%;
}
.row-form-btn{
    margin-top: 6%;
}
.btn-salvar{
    margin-right: 10%;
}