<!DOCTYPE html>
<html>
    <head>
        <title>Inserir Aluno</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <h2>Novo Aluno</h2>
            </div>
            <hr>
            <div class="well">
                <form #formAluno="ngForm">
                    <div class="row">
                        <div class="col-8">
                            <div class="row row-form-input1">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="nome">Nome *</label>
                                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex: Nome e Sobrenome"
                                        [(ngModel)]="aluno.nome" #nome="ngModel" required>
                                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="cpf">CPF *</label>
                                        <input autofocus class="form-control" id="cpf" name="cpf"
                                        inputmode="numeric"
                                        mask="000.000.000-00"
                                        placeholder="Ex: 000.000.000-00"
                                        [(ngModel)]="aluno.cpf" #cpf="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-form-input2">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email">E-mail *</label>
                                        <input type="text" class="form-control" id="email" name="email" 
                                        placeholder="Ex: email@gerador.com"
                                        [(ngModel)]="aluno.email" #email="ngModel" required>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="dataNascimento">Data Nascimento *</label>
                                        <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Ex: 01/01/1900"
                                        inputmode="numeric" mask="d0/M0/0000"
                                        [(ngModel)]="aluno.dataNascimento" #dataNascimento="ngModel" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-form-btn">
                        <div class="col">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-salvar" (click)="inserir()" [disabled]="!formAluno.form.valid">
                                    <i class="fa fa-save" aria-hidden="true"></i> Salvar
                                </button>
                                <a class="btn btn-secondary btn-voltar" [routerLink]="['/alunos']">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                                </a>
                            </div>
                        </div>
                        <div class="col-9"></div>                        
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
